:root {
  --blue: #1992d4;
  --white: #ffffff;
  --light-blue: #e2e8f0;
  --yellow: #f0b429;
  --main-text: #1f2937;
  --sec-text: #64748b;
  --border: #cbd5e1;
}

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--main-text);
}

/* Header section */

fieldset {
  border: none;
  margin: 15px;
  padding: 15px;
}

input {
  width: 100%;
  max-width: 500px;
  padding: 5px;
  border-radius: 20px;
  background-color: var(--light-blue);
  border: 1px solid var(--border);
}

.links {
  background-color: var(--blue);
  padding: 10px 30px;
  margin: 10px;
  font-size: 18px;
  border-radius: 20px;
}

/* Profile and Avatar imgs */

.avatar {
  width: 100%;
  max-width: 50px;
  border-radius: 50%;
}

.profile {
  width: 100%;
  max-width: 70px;
  border-radius: 50%;
}

h1 {
  color: var(--white);
  padding-left: 40px;
}

li {
  list-style: none;
  margin-bottom: 15px;
}

.fa-bell {
  font-size: 20px;
}

.fa-microsoft {
  padding-right: 15px;
}

.fa-gear {
  margin-top: 40px;
}

.fa-solid {
  padding-right: 20px;
}

a {
  text-decoration: none;
  color: var(--white);
  font-size: 20px;
  font-weight: bold;
}

.sidebar {
  background-color: var(--blue);
  width: 100%;
  max-width: 300px;
  height: auto;
  padding: 10px;
}
