:root {
  --blue: #1992d4;
  --white: #ffffff;
  --light-blue: #e2e8f0;
  --yellow: #f0b429;
  --main-text: #1f2937;
  --sec-text: #64748b;
  --border: #cbd5e1;
}

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

/* Profile and Avatar imgs */

.avatar {
  width: 100%;
  max-width: 50px;
  border-radius: 50%;
}

.profile {
  width: 100%;
  max-width: 70px;
  border-radius: 50%;
}

h1 {
  color: var(--white);
  padding-left: 40px;
}

li {
  list-style: none;
  margin-bottom: 15px;
}

.fa-microsoft {
  padding-right: 15px;
}

.fa-gear {
  margin-top: 40px;
}

.fa-solid {
  padding-right: 20px;
}

a {
  text-decoration: none;
  color: var(--white);
  font-size: 20px;
  font-weight: bold;
}

.sidebar {
  background-color: var(--blue);
  width: 100%;
  max-width: 300px;
  height: auto;
  padding: 10px;
}
